.side-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 0;
  border-top: 0px;
  border-bottom: 0;
  padding-bottom: 5px;
}

.side-menu a {
  color: white;
  display: block; 
  padding: 12px; 
  text-decoration: none; 
  border-radius: 10px;
  margin: 2px;
  background-color: #15b6c0; 

}

.side-menu a:hover, a.selected {
  color: rgb(16, 47, 228);
  text-decoration: none; 

}
